<head>
  <meta charset="utf-8" />
  <title>{{ seo.title }}</title>
  <link rel="canonical" href="https://faonzine.fr.com/" />
  <meta name="robots" content="index, follow" />
  <meta name="title" content="{{ seo.title }}" />
  <meta name="description" content="{{ seo.description }}" />
  <meta property="og:title" content="{{ seo.title }}" />
  <meta property="og:url" content="https://faonzine.fr.com/" />
  <meta property="og:image" content="/images/open-graph.jpg" />
  <meta property="og:site_name" content="Faonzine" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  <script>
    var colors = [
      ["#FFE5CE", "#1e0a3c", "#FF6159", "#fff"],
      ["#C9F0FF", "#082954", "#ffce0f", "#fff"],
      ["#f4edf6", "#391537", "#f9af40", "#fff"],
      // ["#061427", "#fff", "#4ebee0", "#082954"],
    ];
    (function main() {
      var d = new Date().getHours();
      var i = Math.floor(((24 + d - 2) % 24) / 8);

      document.documentElement.style.setProperty(
        "--light-background",
        colors[i][0]
      );
      document.documentElement.style.setProperty("--base-font", colors[i][1]);
      document.documentElement.style.setProperty("--medaillon", colors[i][2]);
      document.documentElement.style.setProperty(
        "--base-background",
        colors[i][3]
      );
    })();

    function closeMenu() {
      var d = document.getElementById("toggle-menu");
      d.click();
    }
  </script>
</head>
