---
title: Cui-Cui Association
navigationLinks:
  - label: Nos fanzines
    url: "/#nos-fanzines"
    submenu:
      - label: Les 4 saisons
        url: "/4-saisons-cui-cui"
      - label: Cui-Cui sauvage
        url: "/cui-cui-sauvage"
  - label: Nos animations
    url: "/#nos-animations"
  - label: Qui sommes-nous ?
    url: "/#cui-cui"
  - label: Nous contacter
    url: "/#nous-contacter"
---

<!DOCTYPE html>
<html lang="en">
  {% include '_partials/head.html' %}
  <body>
    {% include '_partials/header.html' %}
    {{ content | safe }}
    {% include '_partials/footer.html' %}
  </body>
</html>