:root {
  --base-font: #391537;
  --base-background: #fff;
  --medaillon: #f9af40;
  --light-background: #f4edf6;
  --base-font-link-hover: transparentize(--medaillon, 0.8);
}

/* CSS reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 16px 0 8px 24px;
}

/* end of CSS reset
*/

@font-face {
  font-family: "Courier Prime";
  src: url("font/CourierPrime-Regular.ttf") format("ttf");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: var(--base-background);
  margin: auto;
  color: var(--base-font);
  font-size: 14px;
  line-height: 24px;
}

a {
  cursor: pointer;

  &:link {
    color: var(--base-font);
    text-decoration: none;

    &:not(.dont-style) {
      box-shadow: inset 0 -2px 0 0 var(--medaillon);
      transition: box-shadow 0.2s ease-in-out;
    }
  }

  &:visited {
    color: var(--base-font);
  }

  &:hover {
    color: var(--base-font);

    &:not(.dont-style) {
      box-shadow: inset 0 -30px 0 0 var(--medaillon);
    }
  }

  &:active {
    color: var(--base-font);
  }
}

.text-container {
  width: 860px;
  margin: auto;
  display: block;

  @media screen and (max-width: 1200px) {
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .align-center {
    text-align: center;
  }
}

#header {
  margin: auto;

  .header-title {
    display: flex;
    align-items: end;
    justify-content: center;

    > div {
      width: 200px;
      border-radius: 100px;
      margin: 20px;
      box-shadow: 3px 3px 0 var(--medaillon);

      .logo {
        display: block;
        color: var(--base-background);
        border-radius: 100px;
        background-color: var(--base-font);
        margin: 3px;
      }
    }

    @media screen and (max-width: 1200px) {
      justify-content: start;

      > div {
        width: 150px;
        border-radius: 100px;
        margin: 20px 0 0 0;
        box-shadow: 2px 2px 0 var(--medaillon);

        .logo {
          margin: 2px;
        }
      }
    }
  }

  div.menu {
    > div {
      margin-top: 20px;

      > div {
        z-index: 10;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border-top: 2px dashed var(--base-font);
        border-bottom: 2px dashed var(--base-font);
      }

      a {
        display: inline-block;
        font-size: 1rem;
        font-weight: bolder;
        position: relative;
      }
    }
  }

  a {
    padding: 10px;
    z-index: 1000000;
    position: relative;

    &:before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      height: 0;
      width: 0;
      background: var(--medaillon);
      z-index: -1;
      border-radius: 63% 37% 47% 53% / 28% 28% 72% 72%;
      transition: all 150ms ease-in-out;
    }

    &:hover:before {
      height: 40px;
      width: 40px;
    }
  }

  nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    @media screen and (max-width: 1200px) {
      display: block;
    }
  }

  div.menu {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .burger {
    position: relative;
  }

  .burger input {
    display: flex;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 11;
  }

  .burger span {
    display: flex;
    width: 45px;
    height: 4px;
    position: absolute;
    top: 40px;
    right: 40px;
    background: var(--base-font);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 2px 0px;
    transition: transform 0.25s ease-in-out, opacity 0.55s ease;

    &:nth-of-type(2) {
      top: 54px;
    }

    &:nth-of-type(3) {
      top: 68px;
    }
  }

  .burger span:first-child {
    transform-origin: 0% 0%;
  }

  .burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .burger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: var(--medaillon);
  }
  .burger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .burger input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .burger input:checked ~ span,
  .burger input:checked {
    position: fixed;
  }

  .burger > ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    list-style: none;
    font-size: 1.3rem;
    background-color: var(--light-background);
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger > ul > li {
    padding: 30px 0;
  }

  .burger input:checked ~ ul {
    transform: none;
  }

  a {
    text-decoration: none;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  > .paragraph {
    width: 100%;
    padding: 100px 0;

    &:nth-of-type(even) {
      background-color: var(--light-background);
    }

    &:first-of-type {
      padding-top: 80px;
    }

    div.img-separator {
      position: relative;

      > div {
        z-index: 10;
        top: 0;
        position: absolute;
        color: var(--base-font);

        &.martinets {
          width: 70%;
          max-width: 350px;
          right: 10%;
        }

        &.balbuzard {
          width: 170px;
          right: 140px;
        }
      }
    }
  }

  div.img-block {
    display: flex;
    align-items: center;
    margin: 40px 0;
    gap: 40px;

    div.img-container {
      position: relative;

      img {
        width: 300px;
      }
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        bottom: -4px;
        right: -4px;
        border: 2px dashed var(--medaillon);
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      }
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column !important;
    }

    &:nth-of-type(1) > div {
      > img {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      }
      &:before {
        border-radius: 33% 67% 65% 35% / 80% 35% 65% 20%;
      }
    }

    &:nth-of-type(2) > div {
      > img {
        border-radius: 40% 60% 29% 71% / 61% 49% 51% 39%;
      }
      &:before {
        border-radius: 33% 67% 65% 35% / 45% 78% 22% 55%;
      }
    }

    &:nth-of-type(3) > div {
      > img {
        border-radius: 0;
      }
      &:before {
        content: 33% 67% 65% 35% / 45% 78% 22% 55%;
      }
    }
  }

  p {
    z-index: 10;
  }

  p:first-of-type {
    display: inline;
  }

  br {
    margin-bottom: 16px;
  }

  h2.inlined-title {
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 30px;
    position: relative;
    z-index: 10;
    padding-left: 20px;

    &:before {
      content: "";
      bottom: -5px;
      left: 0;
      position: absolute;
      height: 55px;
      width: 55px;
      background: var(--medaillon);
      z-index: -1;
      border-radius: 63% 37% 47% 53% / 28% 28% 72% 72%;
    }
  }

  img.fanzine-medaillon {
    max-width: 100%;
    width: 180px;
    height: 180px;
    border-radius: 1000px;
    margin: auto;
    display: block;
    box-shadow: 3px 3px 0 var(--medaillon);
    border: 3px solid var(--base-background);
  }
}

.social-networks > a {
  line-height: 0.9rem;
  svg {
    width: 24px;
  }
}

div.button.center {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  div {
    position: relative;
    z-index: 11;

    > a {
      padding: 20px;
      background-color: var(--base-background);
      border: 2px solid var(--base-font);
      border-radius: 86% 14% 80% 20% / 30% 45% 55% 70%;
      display: inline-block;
      transition: all 75ms ease-in-out;
      font-weight: bolder;
    }

    &:after {
      background-color: var(--medaillon);
      border-radius: 63% 37% 79% 21% / 43% 58% 42% 57%;
      content: " ";
      display: block;
      height: 100%;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      > a {
        transform: translateY(-4px);
      }
    }
  }
}

.base-font {
  color: var(--base-font);
  fill: var(--base-font);
}

.light-font {
  color: var(--medaillon);
  fill: var(--medaillon);
}

#footer {
  margin-top: 200px;
  display: block;
  position: relative;

  .chouette {
    position: absolute;
    top: -300px;
    right: 0;
    display: block;
    z-index: -1;
  }

  .footer-social-networks {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    margin: 0;
  }

  .bottom-footer {
    padding-bottom: 50px;
    background-color: var(--base-font);
    color: #fff;
  }

  a {
    color: #fff;
  }
}
