:root {
  --base-font: #17191f;
  --base-background: #fff;
  --medaillon: #bccbd7;
  --light-background: #f8fbff;
  --base-font-link-hover: #4f6c83;
}

/* CSS reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 16px 0 8px 24px;
}

/* end of CSS reset
*/

@font-face {
  font-family: "Courier Prime";
  src: url("font/CourierPrime-Regular.ttf") format("ttf");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: var(--base-background);
  margin: auto;
  color: var(--base-font);
  font-size: 14px;
  line-height: 24px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:  1rem 2.5rem;

  .column {
    flex-direction: column;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:  1rem;

  @media screen and (max-width: 1200px) {
    flex-direction:column-reverse;
  }
}

a {
  cursor: pointer;

  &:link {
    color: var(--base-font);
    text-decoration: none;

    &:not(.dont-style) {
      box-shadow: inset 0 -2px 0 0 var(--medaillon);
      transition: box-shadow 0.2s ease-in-out;
    }
  }

  &:visited {
    color: var(--base-font);
  }

  &:hover {
    color: var(--base-font);

    &:not(.dont-style) {
      box-shadow: inset 0 -30px 0 0 var(--medaillon);
    }
  }

  &:active {
    color: var(--base-font);
  }
}

.text-container {
  width: 860px;
  margin: auto;
  display: block;

  @media screen and (max-width: 1200px) {
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .align-center {
    text-align: center;
  }
}


#header {
  margin: auto;
  font-size: 0.9rem;

  .header-banner {
    color:#bccbd7;
    background-color: #355323;
    padding: 5px 0;
    text-align: center;

    a {
      color:#bccbd7 !important;
      transition: color 300ps ease-in-out;

      &:hover {
        color: #355323 !important;
      }
    }

    p {
      margin:0;
      padding:0;
    }
  }
  
  .header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 60px auto;
    
    > div:first-of-type {
      position:relative;
      width: 300px;
      margin: 30px 0 -30px;

      .logo {
        fill: var(--base-font) !important;
      }

      div.martinets {
        z-index: 10;
        top: 0px;
        right:-120px;
        position: absolute;
        color: var(--base-font);
        width: 130px;
      }
    }


    @media screen and (max-width: 1200px) {
      justify-content: start;
      margin-bottom: 0px;
      align-items: baseline;

      > div:first-of-type {
        width: 170px;
        margin: 20px 0 0 -20px;

        .logo {
          margin: 2px;
        }

        div.martinets {
          right:-90px;
          width:90px;
        }
      }
    }
  }

  div.menu {
    > div {
      margin: 0px;

      > div {
        z-index: 10;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border-top: 2px dashed var(--base-font);
        border-bottom: 2px dashed var(--base-font);
      }

      a {
        display: inline-block;
        font-size: 1rem;
        font-weight: bolder;
        position: relative;
      }
    }
  }

  nav a, .menu a {
    padding: 10px;
    z-index: 1000000;
    position: relative;

    &:hover {
      color: var(--base-font-link-hover);
    }
  }

  nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    @media screen and (max-width: 1200px) {
      display: block;
    }
  }

  div.menu {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  .burger {
    position: relative;
  }

  .burger input {
    display: flex;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 11;
  }

  .burger span {
    display: flex;
    width: 45px;
    height: 4px;
    position: absolute;
    top: 40px;
    right: 40px;
    background: var(--base-font);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 2px 0px;
    transition: transform 0.25s ease-in-out, opacity 0.55s ease;

    &:nth-of-type(2) {
      top: 54px;
    }

    &:nth-of-type(3) {
      top: 68px;
    }
  }

  .burger span:first-child {
    transform-origin: 0% 0%;
  }

  .burger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .burger input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: var(--medaillon);
  }
  .burger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .burger input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .burger input:checked ~ span,
  .burger input:checked {
    position: fixed;
  }

  .burger > ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    list-style: none;
    font-size: 1.3rem;
    background-color: var(--light-background);
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger > ul > li {
    padding: 20px 0;
  }

  .burger input:checked ~ ul {
    transform: none;
  }

  .burger .submenu {
    position: static;
    width: auto;
    height: auto;
    background: none;
    transform: none;
    transition: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 20px;
    
    li {
      padding: 10px 0;
    }
  }
  .submenu {
    li {
      padding: 0;
    }
  }

  .menu {
    .menu-item {
      position: relative;
      display: inline-block;
      
      &:hover .submenu-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    
    .submenu-dropdown {
      position: absolute;
      top: 100%;
      left: 0px;
      background: var(--light-background);
      border: 2px dashed var(--base-font);
      border-top: none;
      min-width: 200px;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: all 0s ease;
      z-index: 1000;
      
      .submenu-link {
        display: block;
        padding: 10px 15px;
        font-size: 0.9rem;
        font-weight: normal;
        border-bottom: 2px dashed var(--base-font);
        
        &:last-child {
          border-bottom: none;
        }
        
        &:hover {
          background: var(--light-background);
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  > .paragraph {
    width: 100%;
    padding: 100px 0;

    &:nth-of-type(even) {
      background-color: var(--light-background);
    }

    &:first-of-type {
      padding-top: 80px;
    }
  }
  div.img-block-container {
    gap:3rem;
    margin: 2rem auto;

    div.img-block {
      div.img-container {
        width: 150px;
        height: 150px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 3px 3px 0 var(--medaillon);
        border: 3px solid var(--base-background);

        img {
          display: block;
          width:100%;
        }
      }
    }
  }

  p {
    z-index: 10;
  }

  p:first-of-type {
    display: inline;
  }

  br {
    margin-bottom: 16px;
  }

  h2.inlined-title {
    display: inline;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 30px;
    position: relative;
    z-index: 10;
    padding-left: 20px;

    &:before {
      content: "";
      bottom: -5px;
      left: 0;
      position: absolute;
      height: 55px;
      width: 55px;
      background: var(--medaillon);
      z-index: -1;
      border-radius: 63% 37% 47% 53% / 28% 28% 72% 72%;
    }
    &:after {
      content: "";
      bottom: 25px;
      left: -25px;
      position: absolute;
      height: 55px;
      width: 55px;
      z-index: -1;
      background-image: url("data:image/svg+xml, %3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 182 214'%3E%3Cg clip-path='url(%23a)' fill='%23000'%3E%3Cpath d='M164.2 37.8c2.8-.5 4.4-2.8 7.2-2.8 3.4 0 4.5 1 3.4 4.4-1.5 4.2-4.6 7.4-7.3 10.9-.6.9-2.3 1.6-1.5 2.8.8 1.2 2.1 0 3.2 0 2-.1 3.9-.5 5.8-.7 1-.1 2.2-.2 2.7 1 .3 1 0 2-.7 2.9l-1.8 2c-1.7 2.3-5 3.9-2.5 7.7.6.9-.6 2-1 3.2-.8 2-1.3 4.9-2.2 5.8-2.8 3-1.4 7-3.7 10.5-2 2.8-2.3 7.4-4.5 10.5-1.5 2-1.2 5.6-4.6 6.5-.8.2-.6 1.2-.5 1.8.1 1.5 0 2.5-2 1.9-1.6-.5-2.2.6-1.8 2 .4 1.4-.3 2.7-.3 3.9 0 1.9-.4 2.8-2.4 2.7-1.2 0-1.6.8-1.6 1.9-.1 2.4-3.2-1-3.1 1.5.2 1.5.5 2.9.9 4.4 0 .3-.1.7-.4.9-3.8 1.6-4.6 5.2-6 8.5-.3.6-.9 1-1.5 1.2-1.9.4-2.7 1.2-2.3 3.4.6 2.6-2 1.9-3.2 2.5-1.2.6-3.9-.8-4 1.4-.1 2.2 1.8 3.8 4.1 4.5 3.3 1 6.6 2.2 9.8 3.3l20.8 7.5c4.2 1.3 8.6 1.9 13 2 2 0 3.7.5 4.3 2a8 8 0 0 1-.1 6c-1.3 3.5-4 5.5-6.2 8a8.4 8.4 0 0 1-4.5 2.5c-1.6.4-4.1-.2-3.3 3 .2 1-1.8 1.7-3.1 1.6-3 0-6-.6-8.7-1.8l-31.5-15.2-4.5-1.8c-5.3-1.7-6.1-1-5.1 4.3 1.4 7.8 2.4 15.7 3.5 23.6.6 4.7 2.6 8.9 7.8 10.9 5.2 2 5 2 4.7 7.8 0 .7.2 1.4.6 1.9.5.7 1.9 1 1.2 2.2-.7 1.2-1.8.8-2.8.8-2.9 0-5-1.5-6.8-3.6a17.7 17.7 0 0 0-5.3-4.5c-3-1.5-3.8-4.1-4.2-7l-4.3-30.1c-1-6.7-2-8-8.6-7a105 105 0 0 1-37.5-1.7c-7.6-1.4-14.5-5.1-21.6-8-5.3-2.1-10-5.3-14.8-8.2-1.6-1-3.4-1.6-5.2-.1-1.8 1.5-1 3.4-1.2 5-.1 1 2.1 1.7.3 2.5-1.4.6-2.7-.1-3.4-1.5l-3.4-7.1c-2.3-4.6-2-9.6-2.6-14.5-.7-5.2 3.1-9.5 8.2-10.6 5.4-1.2 10.6 0 15.8.7 3.2.4 3.3-.6 2.4-3.1a50.3 50.3 0 0 0-4.9-9.5C26.9 97.9 22 90.8 16.6 84 10.4 76.6 4.9 68.5 5.4 57.7c.2-5.4-2.6-10.4-3.6-15.8C1 37.5 0 33 0 28.5c0-3 .6-5.6 3.2-7.6 2.4-2 4.1-1.8 5.4 1 .3.7.9 1.2 1.7 1.3.3-3.4.9-7 1.6-10.2.9-3.5 2.1-6.8 3.3-10.2.6-1.7 1.5-3.1 3.4-2.7 1.9.4 2.4 2.2 2.3 3.8-.5 6.9.9 13.8.1 20.8l.2 1.2c1.1.3 1.3-.5 1.5-1.1 2.4-6 4.8-11.7 7-17.6.6-1.7 1.6-3 3.4-3 2 0 2 2 2.5 3.3a35 35 0 0 1 .7 14.4l-.4 3.7 8.8-12c.9-1.1 1.5-3 3.3-2.4 2 .5 2.3 2.4 2.4 4.2.3 4-.7 8-1.6 12 1.8-1.7 3.4-3.5 5.3-5 1-.8 2.1-2.1 3.6-1 1.3.9 1.2 2.3 1 3.8-.8 4.2-3.6 7.5-5.1 11.3-1 2.4-1.8 4 2.1 3 1.3-.2 2.6 0 2.9 1.7.5 3.6 2.2 7 3 10.3a44 44 0 0 0 5.3 12c3.6 6.5 7.7 12.7 11.6 18.9 1.9 3 5.8 5.2 5.2 9.6 0 .6.4 1 .9 1h.2c2.4-.2 3 1.4 3.4 3 .2 1 .5 1.5 1.6 1.6 2.8.2 2.2 2.8 3 4.4.3.8-.3 1.6-1.3 1.6s-1.3-.5-1.3-1.3c-.1-2-.4-3-2.9-2.4-1.7.5-1.6-1.3-1.5-2.4.1-1.6 0-2.8-2.2-2.3-.7.2-1.4-.3-1.6-1-1.5-6.2-6-10.6-9.1-16-4-6.6-7.7-13.5-12.3-19.8-1.4-2-4-4.6-7.9-3.3-3.9 1.3-6.2-1.8-8.9-3.7l-3.4-3c-.3-.2-.8-1-.9-.8-3 1.5-5-1.7-7.5-1.7-3.9-.1-7.8-1-11.8-.2-3.3.7-5 2.9-6.4 5.6-.4 1-.9 1.8-1.7 2.6-4.2 3.3-5.1 6.4-3.8 11.6 2.1 8 7.6 13.9 12.6 20 7.6 9.4 14 19.8 19 30.8a39 39 0 0 1 2.9 12l.6 3.4c.1 1 .5 2.3-1 2.5-1.5.2-1.4-1.1-1.6-2.1l-1.6-9c-.5-2.3-1.4-3.7-4.3-3.8-4.7-.2-9.4-1.4-14.1-1-6.5.4-8.6 2.6-8.6 9 0 3.8-.1 7.5 1.4 11 1.4 3.3 3.3 4.4 6.5 3a8.1 8.1 0 0 1 8.2 1.2c6.2 4.4 13.3 6.9 20.1 9.8a95.1 95.1 0 0 0 51.1 6.8c2.9-.4 5.8-.3 8.6-.4-.2 2.7 1.4 5 1.9 7.6l3.1 19.6c1.2-.4.7-1.2.6-1.8-1-7.2-1.8-14.4-3.1-21.5-.5-2.8.7-3.2 2.8-3.2 5.7 0 10.8 2.3 15.8 4.6 9 4.2 17.8 8.7 26.7 13 1.5.7 3 1.2 4.6 1.6 1 .3 2.3.7 1.2-1.3-.5-1 .7-1.3 1.4-1.5l5.4-1.2c1.4-.3 3.1-.3 3.2-2.5 0-.4.5-1 .8-1 4.2-.2 4.2-4.2 6-6.6 1.2-1.6-.2-3.8-2.4-4.1-8.8-1-17.5-3-25.8-6.2-5-2-10.4-3.4-15-6.1-2.9-1.8-6.7-2.6-8.5-6.4-1.1-2.4-.6-3.4 1.5-3.6 2.8-.3 4-2.4 5.8-4 3.9-3.3 4.2-9 8.7-11.7 1.1-.7.3-2.1-.1-3.2-.9-2.1-.7-3.3 2-4 2.5-.4 5.4-1.8 5.2-5-.2-4.4 3.6-6.1 5.4-9.1 3-5 6.7-9.4 7.2-15.4 0-.8.3-1.5.8-2.1 2-2.3 2.9-4.3.5-7.5-1.4-1.8-3.3-4.1-3.5-7-.1-2.4-2.1-3.7-4.1-4-2-.3-3.9-1.3-5.4-2.7a9.2 9.2 0 0 0-7.4-2.5c-1.5 0-1.9-1.2-2.9-1.5a16.8 16.8 0 0 0-14.2 1c-1.1.8-2.1 1.6-3.4.5-.3-.3-1.1-.5-1.2-.4-1.9 3-5.7 2.8-8.5 4.2-6.9 3.5-7.3 10-9.5 15.8-2 5.2-3.9 10.3-6.4 15.3l-1.4 3.6c-.3 1 .2 2.9-1.5 2.5-1.9-.5-1-2.4-.5-3.5 3.7-7.3 6.2-15.1 8.9-22.8 3.4-9.8 6.1-19.8 10.4-29.3 2.4-5.1 5.1-10 8.2-14.7.6-1 1.4-2 2.2-2.6 1.4-1.1 3-2.2 4.7-.8 1.7 1.4.8 3 0 4.6-1.6 2.9-3.7 5.6-4.5 8.9-.2.9-.7 1.7-.1 2.8 1.3-.4 1.8-1.6 2.4-2.6 6-8.6 12.4-17 21-23.2 1.3-1 2.6-3 4.4-1.6 1.8 1.4 1.9 3.8 1.2 6-2.1 6-5.2 11.8-8.2 17.5-.3.6-1 1-.6 1.9 1.2.8 1.9-.4 2.5-1 4.7-5.1 11-8 16.4-12.1a8 8 0 0 1 2.9-1.1c1.1-.4 2.4 0 3.1.9.7 1 .5 2.3-.3 3.2-1.2 2.3-2.8 4.3-4.3 6.4Zm-39.1 171.8c-1-3.3-7.9-13.5-10.6-16-1.7 8.8 6.2 11.2 10.6 16Z'/%3E%3Cpath d='M122 152c0-2.7-2.2-4.5-2.3-7-.1-1.6-1.5-2.6-2.7-3.3-3.7-2.2-6.7-4.7-6.1-9.7.1-1.3 0-3.1-2.2-3.2-.9-.1-1.9-.6-1.8-1.7.3-1.7-.1-2-1.6-1.1-.9.5-1.5-.1-1.9-1L96 110.8c-.6-1.2-1.9-2-2.8-3.1-.6-.8-2.1-1.4-.6-2.8 1.2-1 2.6-1.7 3.6-.3 1.8 2.5 4.1 4.4 4.9 7.9.5 2 1.4 6 5.5 6.5 2.5.2-.5 2.3.9 3.4 2-1 4.2-1.8 2.3 2.2-.6 1.3.6 1.6 1.6 1.2 2.4-1 2.8 0 2 2-.8 2 0 3 1.8 4.6 2.3 1.9 4 4.5 4.8 7.4.6 2 2.2 3.6 2.8 5.9.7 2.9 1.2 3-.8 6.3ZM18.5 128.3c-.4.7-.5 1.5-.1 2.2.4.6 1.1 1 1.9 1 .5.3 1.1.3 1.6 0 .2 0 .2-.2.6-1.4l.4-1.5c-.1-.4-.4-.8-.7-1.1-.5-.4-1.2-.5-1.9-.4a3 3 0 0 0-1.8 1.2ZM17.6 123.5l-1.4.6c-.9.6-1.9 1.8-1.6 2.5.3.7 1.7.6 2.7.4 1-.2.8-.6 2.3-1.4l2.3-1.1c1.2-.6 1.4-.8 1.5-1.1 0-.6-.4-1.2-1-1.4-.4-.1-.5 0-1.6.4l-1.5.4c-.5 0-1.1.4-1.7.7Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h182v214H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }

    @media screen and (max-width: 1200px) {
      &:after {
        bottom: 40px;
        left: 33px;
        height: 40px;
        width: 40px;
      }
    }
  }

  img.fanzine-medaillon {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    display: block;
    box-shadow: 3px 3px 0 var(--medaillon);
    border: 3px solid var(--base-background);
  }

  img.partenaire-logo {
    max-width: 100%;
    height: 150px;
    display: block;
  }
}

.social-networks > a {
  line-height: 0.9rem;
  svg {
    width: 24px;
  }
}

div.button.center {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  div {
    position: relative;
    z-index: 11;

    > a {
      padding: 20px;
      background-color: var(--base-background);
      border: 2px solid var(--base-font);
      border-radius: 86% 14% 80% 20% / 30% 45% 55% 70%;
      display: inline-block;
      transition: all 75ms ease-in-out;
      font-weight: bolder;
    }

    &:after {
      background-color: var(--medaillon);
      border-radius: 63% 37% 79% 21% / 43% 58% 42% 57%;
      content: " ";
      display: block;
      height: 100%;
      left: 6px;
      position: absolute;
      top: 6px;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      > a {
        transform: translateY(-4px);
      }
    }
  }
}

.base-font {
  color: var(--base-font);
  fill: var(--base-font);
}

.light-font {
  color: var(--medaillon);
  fill: var(--medaillon);
}

#footer {
  margin-top: 200px;
  display: block;
  position: relative;

  .chouette {
    position: absolute;
    top: -300px;
    right: 0;
    display: block;
    z-index: 1;
  }

  .footer-social-networks {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
    margin: 0;
  }

  .bottom-footer {
    padding-bottom: 50px;
    background-color: var(--base-font);
    color: #fff;
  }

  a {
    color: #fff;
  }
}

.qui-sommes-nous {
  display: flex;
  align-items:center;
  gap: 0rem;

  img {
    width: 300px;
    border-radius:15px;
    margin: auto;
    display: flex;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}