---
layout: layout.njk
seo: 
  title: Cui-Cui sauvage
  description: "Cui-Cui sauvage est une ode à l’ensauvagement des espaces naturels. Le fanzine explore, en 3 actes, les étapes de la succession forestière"
introBlock: |
  Cui-Cui sauvage est un cycle de 3 fanzines entamé en 2025 et réalisé en collaboration avec les associations Francis Hallé pour la forêt primaire, Wild Bretagne et le podcast Réverbe Naturelle. 

  Cui-Cui sauvage est une ode à l’ensauvagement des espaces naturels. Le fanzine explore, en 3 actes, les étapes de la succession forestière à travers un voyage temporel dans un espace laissé en libre évolution, c'est-à-dire sans intervention humaine.  

  Cui-Cui sauvage raconte l’évolution du Vivant et de l’écosystème au gré des mécanismes naturels qui se jouent, des paysages qui se transforment, des espèces qui se croisent et des années qui passent. Il invite à considérer et à contempler un espace naturel en dehors des activités humaines extractives ou récréatives et dans le temps très long nécessaire à la maturité de l’écosystème et à sa résilience.

  Cui-Cui sauvage est ainsi un voyage temporel d’environ 1000 ans, d’un espace ouvert et dépeuplé jusqu’à une forêt au caractère primaire.
blocks:
  - menuTitle: "Tome 1 : le temps des pionnières"
    title: "Tome 1 : le temps des pionnières"
    medaillon: "/images/fanzines/cuicui-1.jpg"
    body: |
      <br/>

      (60 pages) - 10 euros. Bientôt en prévente !

      **Les contributeur·ices :** bientôt révélé•es

      Pour suivre les actualités liées à ce fanzine, vous pouvez vous inscrire au lien suivant : lien mailing list.
  - menuTitle: Co-édité par
    title: Co-édité par
    body: |
      <br/>

      <div class="flex-center">
        <div class="flex-center column">
          <img class="partenaire-logo" src="/images/logos/asso francis hallé.jpeg"/>
        </div>
        <div class="flex-center column">
          <img class="partenaire-logo" src="/images/logos/Réverbe_naturelle_logo.jpeg"/>
        </div>
        <div class="flex-center column">
          <img class="partenaire-logo" src="/images/logos/wild-logo.png"/>
        </div>
      </div>
---

<div class="paragraphs">
  <div class="paragraph">
    <div class="text-container">
      {% markdown introBlock %}
    </div>
  </div>
  {%- for post in blocks -%}
    <div class="paragraph">
      <div class="text-container">
        <h2 id="{{ post.menuTitle | defaultStr | slugify }}" class="inlined-title">{{ post.title }}</h2>
        <br/>
        {% if post.medaillon %}
          <div class="flex-row">
            <div>{% markdown post.body %}</div>
            <img class="fanzine-medaillon" src="{{ post.medaillon }}"/>
          </div>
        {% else %}
          <div>{% markdown post.body %}</div>
        {% endif %}
        {% if post.link %}
          <div class="center button">
            <div>
              <a class="dont-style" href="{{ post.link }}">
                ☞ Commander Cui-Cui
              </a>
            </div>
          </div>
        {% endif %}
        {% if post.separator %}
          <div class="img-separator">
            {% include post.separator %}
          </div>
        {% endif %}
      </div>
    </div>
  {%- endfor -%}
</div>