---
layout: layout.njk
seo: 
  title: Cui-Cui
  description: "Association Cui-Cui : des fanzines, des ateliers et des animations pour explorer la diversité du vivant en Bretagne."
introBlock: |
  Racontons des histoires de vivants.
  Faisons résonner la voix des autres vivants, non-humains, avec lesquels nous cohabitons.

  Par des fanzines, des ateliers et des animations, nous vous invitons à découvrir et à comprendre la diversité des vivants, leurs interactions, leurs curiosités et leurs fragilités.
blocks:
  - menuTitle: « Cui-Cui »
    title: « Cui-Cui »
    body: |
      Page 1 - Les 4 saisons de Cui-Cui
      Les 4 saisons de Cui-Cui est une série de 4 fanzines pour raconter les saisons en Bretagne à travers des paysages et les espèces qui les peuplent.

      Chaque numéro est une exploration de 36 pages à la rencontre de la diversité du vivant du territoire breton. De l’océan aux forêts, en passant par les dunes, les landes et le bocage, les 4 saisons de Cui-Cui déambulent librement au fil des saisons, à la frontière entre le réel et l’imaginaire, pour découvrir les espèces avec lesquelles nous cohabitons. 

      Cui-Cui # printemps
      Les contributeur·ices : Atelier McClane • Aurore Chapon • Charline Birault Souchez • Timothée Cantard • Florine Gouget • Xavier Jouppe • Marine Litou • Anaïs Rallo • Morgane Roglianti

      en collaboration avec l’association Printemps Bruyant


      Cui-Cui # été
      Les contributeur·ices : Atelier McClane •  Océane Azeau • Charline Birault Souchez • Timothée Cantard • Jérémie Chapelain • Sophie Courge • Adeline Faye • Mélanie Dunand • Xavier Jouppe • Boris Chastant • Marine Litou • Marie Karedwen • Mathieu De Kiss • Anaïs Rallo • Morgane Roglianti • Juliette Thomas • Janis Aussel • Lucille Duchêne

      en collaboration avec l’association Les Cols Verts - Rennes

      Cui-Cui # automne
      Les contributeur·ices : Atelier McClane •  Océane Azeau • Annaëlle Toussaere • Timothée Cantard • Jérémie Chapelain • Tiphaine Debron • Adeline Faye • Mélanie Dunand • Xavier Jouppe • Naïs Roy • Marine Litou • Maelle Lopes • Vassilissa Gillard • Anaïs Rallo • Alexis Wolff • Jeanne Paqué • Morgane Roglianti • Juliette Thomas • Janis Aussel • Aurora • Lucie Rouiller • Mona Journo • Alexandre Patureau

      en collaboration avec l’association Wild Bretagne

      Cui-Cui # hiver
      Les contributeur·rices : Atelier McClane • Charline Birault-Souchez • Timothée Cantard • Jérémie Chapelain • Aurore Chapon • Sophie Courge • Adeline Faye • Marta Gennari • Xavier Jouppe • Léna Mazilu • Marine Litou • Amélie Pfab • Pipidae • Anaïs Rallo • Morgane Roglianti • Juliette Thomas

      en collaboration avec l’association Là-Haut

      =====


      c’est un fanzine saisonnier d’exploration du vivant.

      « Cui-Cui » ce sont des histoires de non-humains racontées par des humains.

      C’est de la poésie, du conte, des nouvelles et des portraits pour explorer des paysages et découvrir les animaux et végétaux avec qui nous cohabitons sur le territoire breton.

      <br/>
      <img class="fanzine-medaillon" src="/images/cuicui-1.jpg"/>
      <h3 class="align-center">« Cui-Cui » #1 édition printemps</h3>

      <div class="align-center">Mai 2023 • 36 pages • 8 €</div>

      Les contributeurs et contributrices : Atelier McClane • Aurore Chapon • Charline Birault Souchez • Timothée Cantard • Florine Gouget • Xavier Jouppe • Marine Litou • Anaïs Rallo • Morgane Roglianti

      Co-édité par [Printemps Bruyant](https://instagram.com/printempsbruyant).

      <div class="center button">
        <div>
          <a class="dont-style" href="https://www.helloasso.com/associations/faonzine-edition/boutiques/cui-cui-2-edition-hiver">
            ☞ Commander Cui-Cui
          </a>
        </div>
      </div>

      <br/>
      <img class="fanzine-medaillon" src="/images/cuicui-2.jpg"/>
      <h3 class="align-center">« Cui-Cui » #2 édition hiver</h3>

      <div class="align-center">Novembre 2023 • 36 pages • 8 €</div>

      Les contributeur·rices : Atelier McClane • Charline Birault-Souchez • Timothée Cantard • Jérémie Chapelain • Aurore Chapon • Sophie Courge • Adeline Faye • Marta Gennari • Xavier Jouppe • Léna Mazilu • Marine Litou • Amélie Pfab • Pipidae • Anaïs Rallo • Morgane Roglianti • Juliette Thomas
      
      <div class="center button">
        <div>
          <a class="dont-style" href="https://www.helloasso.com/associations/faonzine-edition/boutiques/cui-cui-2-edition-hiver">
            ☞ Commander Cui-Cui
          </a>
        </div>
      </div>

  - menuTitle: Qui sommes-nous ?
    title: Cui-Cui
    body: |
      est une association qui agit pour la sensibilisation à la diversité du vivant et à sa préservation en croisant les approches scientifiques et artistiques.

      L’association regroupe des naturalistes, artistes et auteurs et autrices. Elle est coordonnée par :
    blocksWithImg:
      - body: |
          **Timothée Cantard**, après un parcours en sciences politiques et géographie, il se forme à l’inventaire de la faune et de la flore. En parallèle de son travail d’écologue, il réalise des activités de médiation scientifique et d’enseignement en Bretagne. En tant qu’auteur, il travaille principalement autour de la poésie pour décortiquer et romancer les curiosités du vivant.
        img: timot.jpg
      - body: |
          **Marine Litou**, chargée d’études environnement en agence d’urbanisme, elle est diplômée en sciences politiques et en aménagement du territoire. Pour en connaître davantage sur les espèces et leurs habitats, elle réalise une formation en gestion et protection de la nature. Elle organise des animations dans diverses associations à Rennes pour sensibiliser à la beauté du vivant. 
        img: marine.png 
  
---

<div class="paragraphs">
  <div class="paragraph">
    <div class="text-container">
      {% markdown introBlock %}
      <div class="img-separator">
      </div>
    </div>
  </div>
  {%- for post in blocks -%}
    <div class="paragraph">
      <div class="text-container">
        <h2 id="{{ post.menuTitle | defaultStr | slugify }}" class="inlined-title">{{ post.title }}</h2>
        {% markdown post.body %}
        {% if post.blocksWithImg %}
          {%- for postWithImg in post.blocksWithImg -%}
            <div class="img-block">
              <div>{% markdown postWithImg.body %}
              </div>
              <div class="img-container"><img src="/images/{{ postWithImg.img }}"/>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% if post.separator %}
          <div class="img-separator">
            {% include post.separator %}
          </div>
        {% endif %}
      </div>
    </div>
  {%- endfor -%}
</div>