---
layout: layout.njk
seo: 
  title: Cui-Cui
  description: "Association Cui-Cui : des fanzines, des ateliers et des animations pour explorer la diversité du vivant en Bretagne."
blocks:
  - menuTitle: Fanzines
    title: Nos fanzines
    body: |
      <br/>
      Nos fanzines c’est de la science romancée, de la poésie sauvage et des histoires en pagaille pour raconter la diversité du vivant, décortiquer les relations entre les espèces et leurs écosystèmes, découvrir leurs curiosités, leurs richesses et leurs fragilités.

      <br/>
      Chaque numéro est une publication collective et indépendante dans laquelle se croisent les approches artistiques et scientifiques pour faire résonner la voix du vivant. 

      <br/>
      Découvrez nos éditions disponibles et à paraître : 

      <h3>Les 4 saisons de Cui-Cui</h3>
      <br/>
      <div class="flex-center">
        <img class="fanzine-medaillon" src="/images/cuicui-1.jpg"/>
        <img class="fanzine-medaillon" src="/images/cuicui-2.jpg"/>
        <img class="fanzine-medaillon" src="/images/cuicui-3.jpg"/>
        <img class="fanzine-medaillon" src="/images/cuicui-4.jpg"/>
      </div>
      <br/>
      <div class="center button">
        <div>
          <a class="dont-style" href="/4-saisons-cui-cui">
            ☞ Découvrir les 4 saisons de Cui-Cui
          </a>
        </div>
      </div>

      <br/>
      <h3>Cui-Cui sauvage (à paraitre)</h3>
      <div class="center button">
        <div>
          <a class="dont-style" href="/4-saisons-cui-cui">
            ☞ Découvrir Cui-Cui sauvage
          </a>
        </div>
      </div>
  - menuTitle: Animations
    title: Nos animations
    body:  |
      <br/>
  
      Cui-Cui imagine et réalise des animations de médiation scientifique et artistique pour sensibiliser à la préservation du vivant : création de fanzines, ateliers d’écriture, balades naturalistes, fresques participatives, cartographies collectives, gravures...
      <br/>
      Les animations sont imaginées selon les spécificités des écosystèmes, de la faune et la flore des territoires sur lesquels elles sont organisées. Chaque animation propose une expérience de création participative, collective ou individuelle pour encourager les démarches artistiques accessibles à tous et toutes.
      <br/>
      Cui-Cui organise également des performances artistiques pour donner corps aux fanzines édités par l’association : lecture, slam, lecture musicale et/ou dessinée, concerts… Elles s’appuient sur des collaborations avec des artistes associé·es de l’association ou invité·es pour l’occasion. Elles sont des moments d’expérimentation et de partage avec le public et lecteur·ices du fanzine.
      <br/>
      [Contactez-nous](mailto:cuicuiasso@ecomail.fr) pour consulter notre référentiel d’animations.

    blocksWithImg:
      

      - body: |
          **« Fanzines »**
          
          Raconter la diversité du vivant non-humain par la réalisation de fanzines croisant des approches scientifiques, poétique et graphiques.
        img: fanzines.png
      - body: |
          **« Ateliers et animations »**

          Créer des manières de voir et de comprendre la diversité du vivant par des expériences immersives et ludiques : animations naturalistes, jeux, ateliers d’écriture, ateliers graphiques…
        img: ateliers.jpg
      - body: |
          **« Abécédaire sauvage »**
          
          Documenter la faune et la flore sauvage et la révéler de manière pédagogique et créative.
        img: abecedaire.png
  - menuTitle: Qui sommes-nous ?
    title: Cui-Cui
    body: |
      <br/>

      Cui-Cui est une association à but non lucratif qui s’inscrit dans une démarche d’éducation à l’environnement pour sensibiliser à la diversité du vivant et à sa préservation par l’édition de fanzines et des actions de médiation scientifique et artistique.

      Les fanzines “Cui-Cui” sont des  publications collectives et indépendantes dans lesquelles l’art et la science s’entremêlent librement pour mettre en récit le vivant, ses mécanismes et ses richesses sur notre territoire.  

      L’association organise également des animations et des performances artistiques pour découvrir les espèces et les paysages qui nous entourent à travers des démarches artistiques et naturalistes participatives et accessibles à tous et toutes. 

      Cui-Cui a été fondé en 2023 en Bretagne par Timothée et Marine, naturalistes et artistes amateur·ices. L’association  est désormais animée par un collectif d’une dizaine de personnes bénévoles : professionnel·les, amateur·ices, passionné·es ou curieux·ses de la diversité du vivant. 

      [Retrouvez-nous sur Helloasso](https://www.helloasso.com/associations/faonzine-edition/adhesions/adhesion-faon-zine-edition-1) pour soutenir l’association ou devenir adhérent.

      En adhérant vous pourrez suivre les projets de l’association et participer à leur développement. 

    blocksWithImg:
      - body: |
          **Timothée Cantard**, après un parcours en sciences politiques et géographie, il se forme à l’inventaire de la faune et de la flore. En parallèle de son travail d’écologue, il réalise des activités de médiation scientifique et d’enseignement en Bretagne. En tant qu’auteur, il travaille principalement autour de la poésie pour décortiquer et romancer les curiosités du vivant.
        img: timot.jpg
      - body: |
          **Marine Litou**, chargée d’études environnement en agence d’urbanisme, elle est diplômée en sciences politiques et en aménagement du territoire. Pour en connaître davantage sur les espèces et leurs habitats, elle réalise une formation en gestion et protection de la nature. Elle organise des animations dans diverses associations à Rennes pour sensibiliser à la beauté du vivant. 
        img: marine.png 
  - menuTitle: Nous contacter
    title: Nous contacter
    body: | 
      <br/>

      Pour collaborer sur une édition, nous proposer une animation, un projet, [contactez-nous à cuicuiasso@ecomail.fr](mailto:cuicuiasso@ecomail.fr).
      <br/>
      Pour être tenu informé des actualités de l’association et des animations prévues, suivez-nous sur nos réseaux sociaux. 
      <br/>
      Pour adhérer ou soutenir l’association, [ça se passe ici](https://www.helloasso.com/associations/faonzine-edition/adhesions/adhesion-faon-zine-edition-1).
---

<div class="paragraphs">
  {%- for post in blocks -%}
    <div class="paragraph">
      <div class="text-container">
        <h2 id="{{ post.menuTitle | defaultStr | slugify }}" class="inlined-title">{{ post.title }}</h2>
        {% markdown post.body %}
        {% if post.blocksWithImg %}
          {%- for postWithImg in post.blocksWithImg -%}
            <div class="img-block">
              <div>{% markdown postWithImg.body %}
              </div>
              <div class="img-container"><img src="/images/{{ postWithImg.img }}"/>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {%- endfor -%}
</div>