---
layout: layout.njk
title: Bienvenue sur le site de Faon / zine édition
---

<div class="paragraphs">
  <div>
    <h2 class="inlined-title">Racontons</h2>
    <p>des histoires de non-humains !<br/> Faisons résonner la voix de toutes ces formes de vie avec qui nous cohabitons.
      <br/> Parlons de leur diversité, de leurs interactions, de leurs curiosités, de leurs fragilités et redéfinissons
      collectivement nos relations au vivant.</p>
  </div>
  <div>
    <h2 class="inlined-title">Qui sommes-nous ?</h2>
    <p>Faon/zine édition est une association qui a pour objet de sensibiliser à la diversité et à la préservation du vivant
      non-humain par :
      <ul>
        <li>L’édition et la diffusion de fanzines.</li>
        <li>L’animation d’ateliers d’expression artistique.</li>
        <li>La réalisation de performances artistiques.</li>
      </ul>
    </p>
  </div>
  <div>
    <h2 class="inlined-title">Un Fanzine ?!</h2>
    <p>Un fanzine c’est une version alternative du magazine. <br/>Indépendant et artisanal, le fanzine est réalisé par des
      passionné.e.s pour transmettre librement les messages qui les animent.
      <br/>Il invite à se plonger dans les sujets qui y sont abordés au gré des univers de celles et ceux qui l’ont réalisé.
      <br/>Nous utilisons le fanzine pour concevoir des objets collaboratifs, graphiques et lyriques, qui donnent à voir la
      diversité du vivant non-humain, ses interactions, ses curiosités et ses fragilités.</p>
  </div>
</div>