---
layout: layout.njk
title: Comment nous soutenir ou participer ?
---

<div>
  <h1>
    {{ title }}
  </h1>
  <h2>Adhérer</h2>
  <p>Rejoignez l’association et prenez part aux activités que nous construisons.</p>
  <h2>Faire un don</h2>
  <p>Faites un don à l’association pour nous aider à faire résonner la voix des non-humains.</p>
</div>